<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Submitted!</h1>
    </div>
</div>

<div class="container">
    <h5 class="display-5">Your Request has been Sucessfully Submited ✔</h5><br />
    <h5 class="display-5">Thank you for your request!</h5><br />
    <h6 class="display-6">We will verify the details submitted and get back to you within 3-5 business days.</h6>
    <br /><br />

    <button class="btn btn-primary" routerLink="/"><i class="fas fa-arrow-left"></i> Back to Home Page</button>
</div>