<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">About Us</h1>
    </div>
</div>
<div class="container">

    <p class="indent">We are a group of developers currently in our final year of Computer Science and Engineering at
        the
        School
        of Engineering and Technology, Jain University with a passion to create innovative new technologies that make
        life
        convenient and enjoyable for everyone.
    </p><br />

    <p class="indent">
        It’s a known fact that this generation has become so reliant on the
        devices
        that technology has to offer that at
        times it seems like every aspect of our lives is being affected and transformed by every emerging technology. As
        technology proliferates in both our homes and workplaces, the positive impacts of technology are all around us
        and
        many of them
        are so commonplace we might not even recognize them. As technology evolves, design and implementation should
        evolve
        as well and as such, we hope to emulate this in the
        work we do.
    </p><br />

    <p>
        Thank you for being a part of our journey and thank you for allowing us to be a part of yours.
    </p>

    <h1 class="display-5">Our Team</h1><br />

    <div class="card text-center">
        <div class="card-header">
            Our Instructor
        </div>
        <div class="card-body">
            <h5 class="card-title">Prof. Keshavamoorthy</h5>
            <p class="card-text">Assistant Professor, <br /> Jain University</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vijendrachar M</h5>
                    <p class="card-text">Student, <br /> Jain University</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Yash Kumar Jain</h5>
                    <p class="card-text">Student, <br /> Jain University</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ashrith V Raghunath</h5>
                    <p class="card-text">Student, <br /> Jain University</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hites Chitalia</h5>
                    <p class="card-text">Student, <br /> Jain University</p>
                </div>
            </div>
        </div>
    </div>

    <p class="bold center">Disclaimer:</p>
    <p class="center"> This Project is Not commercial. This Project is for University curriculum.</p>
</div>