<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h5 class="display-5">Terms & Conditions</h5>
    </div>
</div>

<div class="container">

    <p class="indent text-justify">Agreement to Terms and Conditions. It is agreed that Company’s Warehouse Receipt
        Terms and
        Conditions shall govern
        the dealings between Company and Customer for all warehousing and storage services. It is furthermore agreed
        that
        Company’s Warehouse Receipt Terms and Conditions are electronically published at
        https://bookmyspacepwa.web.app/, and
        may be amended by Company from time to time, without notice. In the event of any conflict between these
        Warehouse
        Receipt Terms and Conditions as printed herein and the electronically published Warehouse Receipt Terms and
        Conditions,
        the electronically published version shall control. It is expressly understood that this Warehouse Receipt does
        not
        cover or apply to any rights, obligations, terms or conditions of the freight forwarding, customs brokerage or
        other
        services that Company has provided or may provide to the Customer; and that those separate services shall be
        governed by
        their respective Terms and Conditions which are provided separately and are posted on the above referenced
        website.
    </p> <br />
    <p class="indent text-justify">
        Definitions. As used in this Warehouse Receipt:
        a. “Company” means the individual or entity listed on the front side of this Warehouse Receipt providing the
        warehousing
        services hereunder including its officers, directors, employees and agents of the Company while acting within
        the scope
        and course of their employment;
        b. “Customer” means the person, company, firm or other entity for whom the Goods are stored and to whom this
        Warehouse
        Receipt is issued; and
        c. “Goods” means the property tendered to Company by Customer for which Company has agreed to store pursuant to
        this
        Warehouse Receipt.
    </p>

    <p class="indent text-justify">
        Termination of Storage. Company reserves the right to terminate storage and to require the removal of the Goods,
        or
        any portion thereof, by giving Customer advance written notice. Customer shall be responsible for payment of all
        charges
        attributable to said Goods within the stated period and for removing the Goods from the warehouse upon payment
        of all
        charges. If the Goods are not so removed, Company may exercise its rights under applicable law including but not
        limited
        to selling the Goods.
    </p>

    <p class="indent text-justify">
        Customer’s Warranties & Tender for Storage.<br />

        <span class="bold">a.</span> Customer warrants that the Goods are properly marked, packaged, labeled and
        classified for handling and are
        fit for
        storage and any transportation as may be required. Company will not accept Goods that are not properly packaged
        or
        which, in the reasonable opinion of Company, are not suitable for movement or storage within the
        warehouse.<br />

        <span class="bold">b.</span> Customer shall furnish at or prior to delivery, a manifest showing marks, brands or
        sizes to be accounted for
        separately and the class of storage desired, if applicable.<br />

        <span class="bold">c.</span> Company’s receipt and delivery of a LOT (or partial LOT) shall be made without
        subsequent sorting except by
        special
        arrangement and subject to a charge.<br />

        <span class="bold">d.</span> Hazardous Materials. Unless otherwise made known to Company in writing and accepted
        by Company, Customer
        warrants
        that the Goods are not considered hazardous materials and/or dangerous goods at the time the Goods are tendered
        to
        Company. If hazardous materials and/or dangerous goods are tendered for storage and accepted by the Company, a
        notation
        shall be so made on the face of this Warehouse Receipt. Customer warrants that the Goods shall be limited to the
        permissible materials and quantities in the then current regulations, and agrees to properly classify the Goods,
        to
        accurately describe the Goods, and to provide Company with all necessary or useful information for the safe
        storage and
        handling of the Goods including but not limited to, whenever applicable, Material Safety Data Sheets and/or
        Product
        Safety Data Sheets. If Customer breaches any of the foregoing warranties related to tender of hazardous
        materials or
        dangerous goods, or otherwise delivers any such unfit Goods to Company, Company shall be entitled to exercise
        all
        available remedies including the immediate destruction or removal of the Goods from the warehouse without notice
        to
        Customer. In the event of the foregoing breach of Customer warranties, Customer shall be liable for all expenses
        costs,
        losses, damages, fines, penalties or other expenses of any sort incurred by Company in connection with the
        removal, or
        destruction, or handling of the Goods and shall indemnify Company against all amounts, liabilities, claims, or
        damages
        arising in connection with the Goods.<br />

        <span class="bold">e.</span> For all Goods tendered for storage, Customer shall supply such information and
        documents as are necessary to
        comply
        with all laws, rules and regulations. For all Goods, Customer shall provide to Company all documents or
        information
        necessary or useful for the safe and proper warehousing, handling, storage, and transportation (if any) of the
        Goods. If
        all such information and documents are not fully, accurately and timely provided to Company, Customer shall
        indemnify
        Company for all consequences of such failure.<br />

        <span class="bold">f.</span> Customer warrants its compliance with all applicable laws, rules, and regulations
        including but not limited
        to
        customs laws, import and export laws, as well as similar laws related to anti-corruption and anti-bribery.<br />

    </p>

    <p class="indent text-justify">
        <span class="bold">Liability.</span><br />
        <span class="bold">a.</span> Company shall not be liable for any loss or destruction of or damage to the Goods,
        however caused, unless
        such loss,
        damage or destruction resulted from Company’s failure to exercise such care in regard to the Goods as a
        reasonably
        careful person would exercise under like circumstances.<br />
        <span class="bold">b.</span> In no event shall Company be liable for any loss or damage caused by:
        i. acts of God; public authorities acting with actual or apparent authority; strikes; labor disputes; weather;
        mechanical or equipment failures; cyber attacks; civil commotions; hazards incident to a state of war; acts of
        terrorism; acts or omissions of customs or quarantine officials; acts of carriers related to security; the
        nature of the
        freight or any defects thereof; inherent vice of the goods; perishable qualities of the merchandise; fires;
        frost or
        change of weather; sprinkler leakage; floods; wind; storm; moths; public enemies; or other causes beyond its
        control;<br />

        ii. fragile articles injured or broken, unless packed by Company’s employees and unpacked by them at the time of
        delivery;<br />

        iii. pilferage or theft, unless such loss or damage is caused by the failure of Company to exercise such
        ordinary care
        required by law;<br />

        iv. concealed damage, or for losses incurred due to the concealed damage of the Goods.<br />

        <span class="bold">c.</span> Monetary Maximum Liability: In the event of loss or damage to the Goods for which
        Company is
        legally liable,
        Company’s liability shall be limited to actual value of the Goods, subject to a maximum of standard rate per kg
        of goods
        stored, unless Customer declared a higher value for the goods and Company agrees in writing to purchase
        insurance for
        the Goods at Customer’s benefit, and Customer has paid the supplementary charge in accordance with the terms
        herein.<br />

        <span class="bold">d.</span> In no event shall Company be responsible for loss or damage to documents, stamps,
        securities, artwork,
        heirlooms,
        jewelry or other articles of high and unusual value unless a special agreement in writing is made between
        Company and
        Customer with respect to such articles.<br />
    </p>

    <p class="text-justify"><span class="bold">1.</span> Temperature or Humidity Controlled Storage. Unless specifically
        agreed to in writing,
        Company shall
        not be
        responsible for storage of the Goods in a temperature or humidity controlled environment. Customer knowingly
        accepts
        that the Goods will be warehoused in a non-temperature/humidity controlled environment. Company will not be
        responsible
        for any loss or damage to the Goods that result from fluctuations in temperature range or in humidity levels of
        the
        warehouse. Company will furthermore not be responsible for losses or damages incurred to Perishable Goods,
        unless
        otherwise agreed to in writing prior to tender of the Goods for storage.<br />
        <span class="bold">2.</span> Inspection & Security. All shipments are subject to inspection by Company; by
        Company’s Carriers for any
        transportation services provided, if any; and by any duly authorized government or regulatory entities,
        including but
        not limited to the Transportation Security Administration, Customs and Border Protection, and like entities.
        Notwithstanding the foregoing right to inspect shipments, Company is not obligated to perform such inspection
        except as
        mandated by law. Further, Company reserves the right to unilaterally reject any shipment that it deems unfit for
        transport, or for storage under this Warehouse Receipt, after inspection.<br />
        <span class="bold">3.</span> Headings Not Binding. The use of headings in this Warehouse Receipt are for ease of
        reference only. Headings
        shall
        have no effect and are not considered to be part of or a term of these Warehouse Receipt Terms and
        Conditions.<br />
    </p>

    <p class="bold center">--- End Of Page ---</p>
</div>