<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-5">Order Success!</h1>
    </div>
</div>
<div class="container">
    <h3 class="display-5">Thank you for using BookMySpace.</h3><br />
    <h4 class="display-5">Your Order was successfully placed.</h4><br />
    <p>You can review your order under "My Orders" page.</p>
    <p>Your final bill is calculated based on the number of days you have consumed the services provided by the
        WareHouse.</p>

    <button class="btn btn-primary" routerLink="/"><i class="fas fa-arrow-left"></i> Back to Home Page</button>
</div>