

.social a{
  font-size: 3em;
  padding: 0.5rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.fa-google-plus-g{
  color: #dd4b39;
}

.fa-instagram{
  color: #517fa4;
}

.fa-youtube{
  color: #bb0000;
}


.fa-facebook:hover, 
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
  color: #0067FF;
  transition: 0.5s;
}

footer{
  background-color: #e3f2fd;
  color: black;
  padding-top: 20px;
  margin-top: 30px;
  font-size: 0.7em;
  bottom: 0;
}

.qLinks a{
  text-decoration: none;
  color: black;
}

.qLinks a:hover{
  color: #0067FF;
  transition: 0.5s;
}

.qLinks ul{
  list-style: none;
  margin-left: -50px;
}

.qLinks ul li{
  padding: 0.6rem;
}