<navbar-bs></navbar-bs>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!--- Footer -->
<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-6">
        <h4>BookMySpace</h4>
        <hr>
        <h5>Office Address</h5>
        <p>CSE Dept, Jain University,</p>
        <p>Kanakpura Road, Bangalore.</p>
        <h5>Contact Number</h5>
        <p>+91 999-888-9900</p>
      </div>

      <div class="col-md-6">
        <h4>Connect with Us</h4>
        <hr>
        <div class="col-12 social padding">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-google-plus-g"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="col-12">
        <hr>
        <h5>&copy; bookmyspacepwa.web.app | Powered by <a target="_blank"
            href="https://firebase.google.com/docs">Firebase</a></h5>
      </div>
    </div>
  </div>
</footer>