.fontColor{
    color: whitesmoke;
}

.center{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px) {
  .card {
    width: 75%;
  }
}

