
.jumbotron{
    text-align: center;
}

.social a{
  font-size: 3em;
  padding: 0.5rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.fa-google-plus-g{
  color: #dd4b39;
}

.fa-instagram{
  color: #517fa4;
}

.fa-youtube{
  color: #bb0000;
}


.fa-facebook:hover, 
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
  color: #0067FF;
  transition: 0.5s;
}

footer{
  background-color: #CACACA;
  color: black;
  padding-top: 2rem;
}

.qLinks a{
  text-decoration: none;
  color: black;
}

.qLinks a:hover{
  color: #0067FF;
  transition: 0.5s;
}

.qLinks ul{
  list-style: none;
  margin-left: -50px;
}

.qLinks ul li{
  padding: 0.6rem;
}

.resize{
  height: 550px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

img {
  -webkit-filter: blur(15px); 
  filter: blur(15px);
}

.carousel-inner img{
  width: 100%;
  height: 640px;
}

